
.container {
  display: flex;

}


.Onleft{
  flex: 60%;
}
.Onright {
  

  background-color: lightgray;
  display: flex;
  flex-direction: column;
  
}
.Account img{
  width: 70%;
}
.UserName{
  font-size: small;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Account {
  display: block;
  width: 40px;
  height: 90px;
  transform: translate(-10px, -210px); /* Moves the element 50 pixels to the right along the X-axis and 50 pixels down along the Y-axis */

}

.Dropdown{
transform: translate(60px,-320px);
}


.btn1{
  border-radius: 20px;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  text-align: center;
  transition: transform 0.3s ease;
}

.btn1 {
  transform: scale(1.25);
  background-color: rgb(241, 92, 17);
}
